@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 10%;
    --popover: 255 255% 255%;
    --popover-foreground: 0 0% 10%;
    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 15 100% 70%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 20%;
    --accent: 45 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 95%;
    --ring: 30 100% 70%;
    --chart-1: 30 100% 60%;
    --chart-2: 15 100% 70%;
    --chart-3: 45 100% 50%;
    --chart-4: 0 100% 50%;
    --chart-5: 60 100% 40%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 25%;
    --popover-foreground: 0 0% 95%;
    --primary: 30 100% 60%;
    --primary-foreground: 0 0% 10%;
    --secondary: 15 100% 50%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 45 100% 60%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 30%;
    --input: 0 0% 20%;
    --ring: 30 100% 60%;
    --chart-1: 30 100% 60%;
    --chart-2: 15 100% 50%;
    --chart-3: 45 100% 40%;
    --chart-4: 0 100% 40%;
    --chart-5: 60 100% 30%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  /* styles.css */
  .CollapsibleContent {
    overflow: hidden;
  }
  .CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
  }
  .CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  /* Prevent focus zoom on mobile devices */
  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 16px !important;
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply min-h-svh w-full bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
